{% load static %}
<html>
    <body>
        {% include 'base.html' %}
        <h1> Aryo Wirapradana</h1>
        <p><img src="{% static 'JP10.jpg' %}" style="width:350px; height:500px;"></p>
        <table style="align-content: center;" border="1px" >
            <tr>
                <td>NPM</td>
                <td>19062*****</td>
            </tr>
            <tr>
                <td>Angkatan</td>
                <td>Maung 2019</td>
            </tr>
            <tr>
                <td>Tempat Kuliah</td>
                <td>Fasilkom, Universitas Indonesia</td>
            </tr>
            <tr>
                <td rowspan="3">Riwayat Pendidikan</td>
                <td>SDIP Darul Mustafa</td>
            </tr>
            <tr>
                <td>SMP 177 Jakarta</td>
            </tr>
            <tr>
                <td>SMA 47 jakarta</td>
            </tr>
            <tr>
                <td>Hobi</td>
                <td>Anime, Manga</td>
            </tr>
        </table>
        <p> Manusia dari Jakarta. Dosen favorit Ibu Kasiyah. Realistic Fantasy Enthusiast</p>
    </body>
</html>