<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        {% block waifu %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aryo Wirapradana</title>
    </head>
    <body>
        <div id="navbar">
            <a href="{% url 'home' %}"><img src="{% static 'Home_Navbar.png' %}"></a>
            <a href="{% url 'profile' %}"><img src="{% static 'Profile_Navbar.png' %}"></a>
            <a href="{% url 'interest' %}"><img src="{% static 'Interest_Navbar.png' %}"></a>
            <a href="{% url 'waifu' %}"><img src="{% static 'Waifu_Navbar.png' %}"></a>
            <a href="{% url 'story1' %}" style="float: right;"><img src="{% static 'Story1_Navbar.png' %}"></a>    
        </div>
        {% block content %}{% endblock %}
    </body>
</html>