{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="interest text" style="float: left;">
        <p>Consulting</p>
        <hr>
        <img class="interest-image" src="{% static 'LogoSISTEMBig.png' %}">
        <p class="space"></p>
        <p class="longdesc">Consulting berarti memberikan konsultasi, agar masalah yang dihadapi klien kita dapat 
            terselesaikan. Untuk mempelajari Consulting, Saat ini saya bergabung dengan SISTEM 
            Consulting SIG. Dalam sub-organisasi sistem ini, Saya dan teman-teman dapat saling 
            belajar bersama dalam bentuk kelas 
            maupun project untuk mengembangkan skill 
            consulting kami.</p>
    </div>
    <div class="interest text" style="float: right;">
        <p style="text-align: right;">Analisis Fiksi</p>
        <hr>
        <img class="interest-image" src="{% static 'Skall.png' %}" style="float: right;">
        <p style="width: 2%; float: right;"></p>
        <p class="longdesc" style="float: right;">Hobi yang satu ini sepertinya cukup <i>niche</i>. Pada umumnya, saya suka 
            melakukan analisis budaya, sosial, ekonomi, pemerintahan, dan militer di literatur 
            fiksi yang saya tonton/baca. Analisis ini dilakukan utamanya untuk menentukan seberapa 
            realistis suatu cerita dalam lingkup dunia yang telah dibangun oleh sang penulis. 
            Salah seorang content creator yang saya sukai dalam topik ini adalah Skallagrim, 
            seorang youtuber di Canada </p>
        
        
    </div>
    <div class="interest text" style="float: left;">
        <p>Anime, Manga, Games</p>
        <hr>
        <img class="interest-image" src="{% static 'NepIffy.png' %}">
        <p class="space"></p>
        <p class="longdesc">Anime, Manga, dan Games adalah 3 media favorite saya sebagai sarana refreshing. 
            Genre utama yang saya sukai pada Anime dan Manga adalah <i>Slice of Life</i>, <i>Comedy</i>, dan <i>Romance</i>. 
            Manga dan Anime favorite saya saat ini adalah <i>Kaguya-sama: Love is War</i> karya Aka Akasaka. Untuk 
            Games, genre favorite saya adalah <i>Real-Time Strategy (RTS)</i>, <i>JRPG</i>, dan <i>Visual Novel</i>. <i>Hyperdimension 
            Neptunia</i> adalah salah satu contoh <i>JRPG/VN</i> yang saya mainkan. </p>
    </div>
{% endblock %}