
/* Umum */
html {
    scroll-behavior: smooth;
}

#navbar {
    width: 100%;
    float: left;
    height: auto;
    background: #000000;
}

#center-page {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    float: left;
    min-height: 90vh;
}


.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    
    color: #000000;
}

.space {
    width: 2%;
    float: left;
}
/* Homepage */
#homepage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1206px;
    height: 800px;

    background: url("JP10_background.png");
    background-size: cover;
    background-repeat: no-repeat;

}

#homepagetext {
    display: block;
    width: 80%;
    margin: auto;
    max-width: 568px;
}

.homebutton {
    display: flex;
    align-items: baseline;
}

/* Profile */
#diri {
    width: 100%;
    float: left;
    min-height: 50vh;
}

#diri-table {
    width: 60%;
    float: left;
}

#fotodiri {
    max-width: 264px;
    max-height: 353px;
    width: 30%;
    float: left;
}


.history {
    width: 100%;
    max-width: 431px;
}

.tahun {
    font-size: 18px;
}

/*Interest*/

.interest {
    width: 100%;
    max-width: 1440px;
    height: fit-content;
}

.interest-image {
    width: 30%;
    max-width: 202px;
    float: left;
}

.longdesc {
    font-size: 18px;
    text-align: justify;
    width: 60%;
    float: left;
    max-width: 497px;
}

/* Waifu */
.waifu-cn {
    width: 50%;
    min-height: 90vh;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.waifu-img {
    max-width: 40vh;
}

@media only screen and (max-width: 768px) {
    /* Interest */
    .interest-image {
        width: 100%;
        max-width: 202px;
        float: left;
    }
    
    .longdesc {
        font-size: 18px;
        text-align: justify;
        width: 100%;
        float: left;
        max-width: 497px;
    }

    /* Profile */

    #fotodiri {
        max-width: 264px;
        max-height: 353px;
        width: 100%;
        float: left;
    }

    #diri-table {
        width: 100%;
        float: left;
    }

    /* Waifu */
    .waifu-cn {
        width: 100%;
    }
    
}

@media only screen and (min-width: 768px){
    /* Profile */
    #diri {
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        min-height: 50vh;
    }
}